<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Profile</title>
   </head>
   <body>
      <h1>Bienvenido/a, {{user.first_name}}!</h1>
      <p>Tu email: {{user.email}}</p>
      <p>Y tenes {{user.age}} años!</p>
   </body>
</html>